.Car-Link {
    display: flex;
    border-radius: 29px;
    color: #555;
    padding: 10px 230px;
}

.Car-Group {
    margin: 9px;
    background-color: #fff;
    color: black;
    padding: 5px;
    border-radius: 20px;
}

#Car {
    color: #555;
}