.App-headerr {
    background: #00b53f;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    box-shadow: 1px 1px 4px rgba(80,114,125,.4);
}

.Headerr-containerr {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 10px;
}

.Row-Center {
    box-sizing: border-box;
    flex: 0 1 auto;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    justify-content: center;
    text-align: center;
}

.Center-Xs {
    box-shadow: 1px 1px 4px rgb(70, 75, 79);
    margin: 40px auto 0;
    max-width: 880px;
}

.Center-Xs h1 {
    justify-content: center;
    box-sizing: border-box;
    color: #28363e;
    display: flex;
    font-size: 20px;
    line-height: 28px;
    width: 30%;
    padding: 20px;
}

.Card-Content {
    padding: 32px 0 20px;
}

.Card-Content p {
    font-size: 18px;
    line-height: 24px;
}

.Formm {
    max-width: 40%;
}

.Buttonn {
    padding-top: 12px;
    padding-bottom: 30px;
}

.Btm {
    width: 42%;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px;
    color: aliceblue;
    background-color: rgba(0,181,63,.5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Base-Link {
    color: #00b53f;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 15px;
}

